

<section class="banner">
  <div class="ann-bar">
    <div class="custom-page-width">
      <div class="ann-bar-content">
        <h3 class="logo-text">tisso vison</h3>
        <p class="slogan-text">Find the ideal gift for your loved ones.</p>
        <a href="#" class="bar-button">
          choose gift
        </a>
      </div>
    </div>
  </div>
  <div class="main-banner">
    <div class="banner-container">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/main-banner.png?v=1725297871" class="banner-image desktop-banner">
      <img src="" class="banner-image mobile-banner">
    </div>

    <div class="banner-content">
      <div class="banner-title"><h2>The Gift Guide</h2></div>
      <div class="banner-text"><p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p></div>
      <div class="banner-button">
        <a href="#" class="">Shop Now</a>
      </div>
    </div>
  </div>
</section>



<style>
  /* Remove default content */
  .announcement-bar-section, .section-header, .footer {
    display: none;
  }
</style>


{% schema %}
  {
    "name": "Banner",
    "settings": []
  }
{% endschema %}