

<section class="banner">
  <div class="ann-bar">
    <div class="custom-page-width">
      <div class="ann-bar-content">
        <h3 class="logo-text">tisso vison</h3>
        <p class="slogan-text">Find the ideal gift for your loved ones.</p>
        <a href="#" class="bar-button">
          choose gift
        </a>
      </div>
    </div>
  </div>
</section


{% schema %}
  {
    "name": "Banner",
    "settings": []
  }
{% endschema %}