

<section class="banner">
  <div class="ann-bar">
    <div class="custom-page-width">
      <div class="ann-bar-content">
        <h3 class="logo-text">tisso vison</h3>
        <p class="slogan-text">Find the ideal gift for your loved ones.</p>
        <a href="#" class="bar-button">
          choose gift
        </a>
      </div>
    </div>
  </div>
  <div class="main-banner">
    <div class="banner-container">
      <img src="" class="banner-image desktop-banner">
      <img src="" class="banner-image mobile-banner">
    </div>
  </div>
</section>



<style>
  /* Remove default content */
  .announcement-bar-section, .section-header, .footer {
    display: none;
  }
</style>


{% schema %}
  {
    "name": "Banner",
    "settings": []
  }
{% endschema %}