<section class="products-grid">
  <div class="custom-page-width">
    <h2 class="products-grid-title">
      {{ section.settings.title }}
    </h2>

    <div class="products-list-grid">
      {% for product in section.settings.products %}
          <div class="product-container">
            <img src={{ product.media.first | img_url: 'master' }}>
            <div class="product-button"><img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/product-button.png?v=1725297871"></div>

            
          </div>
        {% endfor %}
    </div>
  </div>
</section>

  
 
  

<style>
  
  /* Products Gird */

    .products-grid {
      margin: 30px 0;
    }
   .products-list-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 12px;
   }
  .product-container {
    position: relative;
  }
  .product-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
  
</style>


{% schema %}
  {
    "name": "Products Grid",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
      {
        "type": "product_list",
        "id": "products",
        "label": "Products List",
        "limit": 6
      }
    ]
  }
{% endschema %}